@import url("https://fonts.googleapis.com/css?family=Sen&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9ced3;
  background-image: url('bubbles.jpg');
}


.container {
  width: 620px;
  height: 940px;
  background: #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.4);
}

form {
  width: 80%
}

.form-group {
  height: 70px;
  margin-bottom: 15px;
}

/* :root {
    --colorPrimaryDark: #0b132b;
    --colorPrimaryLight: #494f61;
    --colorPlaceholder: #9b9fa8;
    --colorBackground: #eeeff0;
    --colorBorder: #cdcfd3;
    --colorAccent: #003bde;
    --gutter: 0 16px;
    --border: 1.5px solid var(--colorBorder);
    --radius: 3px;
  } */

label {
  bottom: 3px;
  font-weight: 700;
}

#states {
  margin-top: 40px;
}

input {
  width: 100%;
  height: 34px;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  margin-top: 10px;
}

input.touched:valid {
  border: 1px solid cyan;
}

input.touched:invalid {
  border: 1px solid orangered;
}

.radio {
  width: 12%;
  margin-top: 20px;
}

.checkbox {
  width: 12%;
}

p {
  font-family: "Lato";
  font-size: 16px;
  margin: 6px;
  color: black;
}

#state {
  margin: 10px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 75px;
  width: 30%;
  background-color: var(--colorBackground);
}


button {
  cursor: pointer;
  margin: 12px 70px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  align-items: flex-start;
  height: 40px;
  width: 60%;
  background-color: #87c3ff;
}

button:hover {
  filter: brightness(200%);
  background: rgb(255, 220, 220);
}

/* Input styling */

.state-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  height: 36px;
  width: 85%;
  margin-top: 15px;
  padding: var(--gutter);
  background-color: white;
}

.state-input__active {
  border-color: var(--colorAccent);
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.state-input__placeholder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.state-input:hover {
  cursor: pointer;
}

.state-placeholder {
  color: var(--colorPlaceholder);
}

.input__selected {
  color: var(--colorPrimaryDark);
}

/* Dropdown styling */

.state-structure {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 200px;
  width: 300px;
  overflow: scroll;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 10px 0;
}

.state-structure>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 25px;
}

.state-structure>div:hover {
  background-color: var(--colorAccent);
  color: white;
  cursor: pointer;
}

.state-structure>div>h5 {
  font-weight: 600;
  margin-right: 4px;
}

.state-structure>div>p {
  font-weight: 400;
  font-size: 13px;
  color: var(--colorPlaceholder);
}

.hide {
  display: none;
}

.message-validator {
  border: 2px solid #8aadf7;
  border-radius: 5px;
  width: 90%;
  margin: 10px;
  justify-content: center;
  display: flex;
}

#message {
  color: black;
}
